

.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* sheared styles start here */


.display-flex{
  display: flex;
}

.text-primary{
  color: rgb(255, 144, 14);;
}
/* DARK03 */
.text-gray{
  color: #424242;
}

/* dark03 */
.text-light-gray{
  color: #727272;
}

main > section{
  margin-top: 130px;
}

.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
  background-color: rgb(255, 144, 14);
  color: rgb(255, 255, 255);
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
main{
  max-width: 1440px;
  margin: 0 auto;
}

.section-title{
  font-size: 2.8rem;
  font-weight: 700;
}

/* sheared styles end here */

/* header styles start here */


.navber {
  justify-content: space-between;
  align-items: center;
}

.brand{
  font-size: 3rem;
font-weight: 700;

}

.nav-item{
  list-style: none;
  margin-right: 30px;
  
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
}

.navber, .banner{
  max-width: 1440px;
  margin: 0 auto;
}


/* banner styles start here */

.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title{
  font-weight: 700;
  font-size: 4rem;
}

.banner-image{
  width: 100%;
}


/* teams and feature styles start here */


.teams{
  align-items: center;
}

.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-feature{
  margin-left: 130px;
  max-width: 540px;
}



#quick-list{
  font-weight: 500;
 
}


/* responsive media query */
@media screen and (max-width: 576px) {
  .navber,
  .nav-links,
  .teams{
    flex-direction: column;
  }

  .team-img-container{
    grid-template-columns: 1, 1fr;
  }

.our-feature{
  margin-left: 20px;
}
}

/* medium size screen media query */
@media screen and (min-width: 576px) and (max-width: 992px) {
   .teams{
    flex-direction: column;
   }

   .our-feature{
    margin: 50px auto;
   }
}